
body {
  background-image:url(https://th.bing.com/th/id/OIG.4Su74aqPBpV0SYX1Mdxw?pid=ImgGn);
  font-family: sans-serif;
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
  color: black;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos do cabeçalho */
.header {
  text-shadow: 3px 1px 0px #C0C0C0, 2px 2px 0px #C0C0C0;
  color: #141313;
  text-align: center;
  padding: -18px 19px;
  animation: animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75;
}
.header p{
  font-size: 82px;
  font-family: fantasy;
  height: auto;
  width: auto;
  padding-left: initial;
}

.header h1 {
  background-color: #FF8F00;
  font-family:Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: 320px;
  height: 31px;
  width: -webkit-fill-available;
  display: flex;
  position: static;
  font-size: xx-large;

}

h1 {
  text-align: center;
  font-size: 11px;
  background-color: #ebe7e400;
  padding: 20px;
  border-radius: 10px;
}

#inicio p {
  text-shadow: 4px 4px 2px #C0C00A, 5px 2px 23px #C0C089;
  font-family: 'Arial', sans-serif;
  font-size: 37px;
  color: black;
  padding: auto;
  background-repeat: initial;
  animation: alternate;
  text-decoration-color: burlywood;
}


#ofertas {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-content: center;
  justify-content: space-evenly;
  align-items: stretch;
}

.product1,
.product2,
.product3,
.product4,
.product5,
.product6,
.product7,
.product8,
.product9 {
  width: calc(24.33% - -62px); /* 10px de espaço entre os cards */
  margin-bottom: 28px;  /* Espaçamento inferior entre os cards */
  box-sizing: border-box;
  /* size: 107px; */
}

.product1 img,
.product2 img,
.product3 img,
.product4 img,
.product5 img,
.product6 img,
.product7 img,
.product8 img,
.product9 img {
  width: 119%;
  height: auto;
}

/* Estilos comuns para todos os cards */
.product1,
.product2,
.product3,
.product4,
.product5,
.product6,
.product7,
.product8,
.product9 {
  background-color: #d2e2fd;
  padding: 111px;
  border-radius: -9px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

@media (max-width: 800px) {
  .product1,
  .product2,
  .product3,
  .product4,
  .product5,
  .product6,
  .product7,
  .product8,
  .product9 {
    width: calc(50% - 10px); /* 10px de espaço entre os cards */
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#inicio {
  animation: fadeIn 1s ease-in;
}

.nav {
  margin-top: 10px;
}

.tab-button {
  background-color: rgb(86, 86, 246);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;
}

.tab-button:hover {
  background-color: #0074d9;
}

.tab-button i {
  margin-right: 8px;
  font-size: 20px;
}

/* Estilos dos formulários */
.tab-content {
  background-color: rgba(66,133,244,.16);
  padding: 111px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
}

.tab-content h2 {
  font-size: 14px;
  margin-bottom: 50px;

}

form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form input[type="password"],
form input[type="email"] {
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
}

form input[type="file"] {
  margin-top: 10px;
}

form input[type="submit"] {
  background-color: #0074d9;
  color: #5ee9e7;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos das imagens de produtos */
img {
  display: flex;
  /* margin-top: 3px; */
  align-items: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-end;
}


